* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --segundaria: #7c3aed;
    --escuro: #0f0f0f;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro)
}

.navegacao{
    position: fixed;
    top: 0;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--segundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}


.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

h1{
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo{
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre{
    padding: 6rem 2rem;

}

.sobre-titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 10px;
}

.sobre-caixa{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: var(--vidro);
}

.sobre-paragrafo{
    text-align: center;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.projetos{
    padding: 6rem 2rem;
}


.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

   

}

.projetos-card{
    background-color: var(--vidro);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
   
}

.projetos-card:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
    transform: translateY(-10px) scale(1.03);
}

.projetos-titulos{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 10px;
}


.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.paragrafo-projetos{
    color: #e2e8f0;
    text-align: center;
    padding: 20px;
}

.info-projetos{
    color: #e2e8f0;
    text-align: center;
    font-size: 1.5rem;
}  

p{
    margin-bottom: 10px;
}

.escala {
    max-width: 600px;
    margin: 0 auto;
    background: var(--vidro);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .escala h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--claro);
  }
  
  .barra {
    margin-bottom: 1.5rem;
  }
  
  .barra span {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .progresso {
    background-color: #e0e0e0;
    height: 25px;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .nivel {
    height: 100%;
    color: white;
    text-align: right;
    padding-right: 8px;
    line-height: 25px;
    font-weight: bold;
    border-radius: 6px;
  }
  
  .nivel.html {
    width: 70%;
    background-color: #e44d26;
  }
  
  .nivel.css {
    width: 50%;
    background-color: #264de4;
  }
  
  .nivel.java {
    width: 20%;
    background-color: #f89820;
  }
  
  .nivel.figma {
    width: 40%;
    background-color: #a259ff;
  }

.contatos{
padding: 6rem 2rem;

}

.contatos-titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 10px;
}

.formulario-contato{
max-width: 600px;
margin: 0 auto;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
padding: 2rem;
border: 1px solid var(--vidro);
border-radius: 16px;
}

.campo-form{
width: 100%;
padding: 1rem;
background: rgba(255, 255, 255, 0.1);
border-radius: 8px;
color: var(--claro);
border: 1px solid var(--vidro);
outline: none ;
}

.campo-form:hover{
    border-color: var(--segundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form{
margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--segundaria));
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: 
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, rgba(148, 187, 233, 1) 0%, transparent 20%);
}


